@charset "utf-8";


/*header*/
.headerWrap{width: 100%;height: 100px;_background:skyblue;}
.menuWrap{width: 1100px;height: 50px;margin: 0 auto;_background:lime;padding-top: 40px;}
.menuWrap h2{float: left;line-height: 50px;font-size: 3em;padding-right: 720px;}
.menuWrap h2 a{color: white}
.menuWrap ul li{float: left;line-height: 50px;}
.menuWrap ul li a{display: block;width: 100px;_background: white;text-align: center;color: white}
.menuWrap ul li a:hover{font-size:17px;font-weight: bold}
.sliderWrap .slider img{width: 100%;height: 700px;}
.sliderWrap{position: relative;}
.headerWrap{position: absolute;top: 0;}
.sliderWrap .right{position: absolute;top:50%;right: 100px;cursor: pointer;}
.sliderWrap .left{position: absolute;top:50%;left: 100px;cursor: pointer}
/*menubar*/
.barWrap{width: 1100px;background: pink;margin: 0 auto}
.barWrap ul