@charset "utf-8";

@media screen and (min-width: 923px){

/*header*/
.headerWrap{width: 100%;height: 100px;_background:skyblue;}
.menuWrap{width: 1100px;height: 50px;margin: 0 auto;_background:lime;padding-top: 40px;}
.menuWrap h2{float: left;line-height: 50px;font-size: 3em;padding-right: 720px;}
.menuWrap h2 a{color: white}
.menuWrap ul li{float: left;line-height: 50px;}
.menuWrap ul li a{display: block;width: 100px;_background: white;text-align: center;color: white}
.menuWrap ul li a:hover{font-size:17px;font-weight: bold}
.sliderWrap .slider img{width: 100%;height: 700px;}
.sliderWrap{position: relative;}
.headerWrap{position: absolute;top: 0;}
.sliderWrap .right{position: absolute;top:50%;right: 100px;cursor: pointer;}
.sliderWrap .left{position: absolute;top:50%;left: 100px;cursor: pointer}
/*menubar*/
.barWrap{width: 1100px;_background: pink;margin: 0 auto}
.barWrap ul li{float: left;padding-bottom: 30px;}
.barWrap ul li a{display: block;width: 220px;text-align: center;line-height: 40px;transition: 0.5s}
.barWrap ul li a:hover{background:#A6A6A6;font-size: 17px;font-weight: bold;color:white;}
/*container*/
.container{width: 1200px;height: 1100px;background: crimson;margin: 0 auto;}
.container ul li{float: left;}
.container ul li:nth-child(1){width: 300px;height: 275px;background: #719bfa}
.container ul li:nth-child(1):hover>img{transform: scale(1.1);}
.container>ul>li:nth-child(1)>img{padding:20% 0 0 30%;transition: 0.5s}
.container>ul>li:nth-child(1)>h2{text-align: center;padding-top: 30px;}
.container>ul>li:nth-child(1)>h2>a{color:white}
.container ul li:nth-child(2){width: 300px;height: 275px;background: aqua}
.container ul li:nth-child(3){width: 300px;height: 275px;background: #dbf9ff;padding:30px 0 0 20px;position: relative;}
.container ul li:nth-child(3) h3{padding-bottom: 20px;}
.container ul li:nth-child(3)>.box>ul>li{float: left;width: 50px;height: 50px;background: none;border: 1px solid #000;text-align: center;line-height: 50px;position: absolute;bottom: 10px;right: 20px;}
.container ul li:nth-child(3)>.box>ul>li.box1{border-right: none;right: 70px;}
.container ul li:nth-child(4){width: 300px;height: 275px;background: skyblue;overflow:hidden}
.container ul li:nth-child(4) img{transform:translate(-10%,-15%);}
.container ul li:nth-child(5){width: 300px;height: 275px;background:#76f2e5}
.container ul li:nth-child(5):hover>img{transform: scale(1.1);}
.container>ul>li:nth-child(5)>img{padding:20% 0 0 30%;transition: 0.5s}
.container>ul>li:nth-child(5)>h2{text-align: center;padding-top: 30px;}
.container>ul>li:nth-child(5)>h2>a{color:white}
.container ul li:nth-child(6){width: 300px;height: 275px;background:#d0dffb}
.container ul li:nth-child(6):hover>img{transform: scale(1.1);}
.container>ul>li:nth-child(6)>img{padding:20% 0 0 30%;transition: 0.5s}
.container>ul>li:nth-child(6)>h2{text-align: center;padding-top: 30px;}
.container>ul>li:nth-child(6)>h2>a{color:white}
.container ul li:nth-child(7){width: 600px;height: 275px;background:red;position: relative;}
.container ul li:nth-child(7) .txt{position: absolute;top: 0;color:white;padding: 50px 0 0 40px}
.container ul li:nth-child(7) .txt h1{padding-bottom: 30px;}
.container ul li:nth-child(7) .txt h3{padding-bottom: 20px;}
.container ul li:nth-child(7) .txt h4 a{color:white;width: 70px;text-align: center;line-height: 30px;border: 1px solid white;display: block;transition: .4s}
.container ul li:nth-child(7) .txt a:hover{background:#B2EBF4;color:gray;}
.container ul li:nth-child(8){width: 300px;height: 550px;background:#dfe1e6;position: relative;}
.container ul li:nth-child(8) img{position: absolute;bottom: 0;}
.container ul li:nth-child(8)div{position: absolute;}
.container ul li:nth-child(9){width: 600px;height: 275px;background:#bcbdf8;position: relative;}
.container ul li:nth-child(9) img{position: absolute;right: 30px;top:30px}
.container ul li:nth-child(9) h1{position: absolute;left: 40px; top:30px;color: white}
.container ul li:nth-child(9) p{position: absolute;left: 40px; top:140px;color: white;width: 200px;}
.container ul li:nth-child(10){width: 300px;height: 275px;background:#76f2e5;position: relative;}
.container ul li:nth-child(10) h2{position: absolute;color: white;top: 0;padding: 175px 0 0 95px;}
.container ul li:nth-child(11){width: 300px;height: 275px;background:#d0dffb}
.container ul li:nth-child(11):hover>img{transform: scale(1.1);}
.container>ul>li:nth-child(11)>img{padding:20% 0 0 30%;transition: 0.5s}
.container>ul>li:nth-child(11)>h2{text-align: center;padding-top: 30px;}
.container>ul>li:nth-child(11)>h2>a{color:white}
.container ul li:nth-child(12){width: 600px;height: 275px;position: relative;}
.container ul li:nth-child(12) h2{position: absolute;color: white;top: 0;padding: 50px 0 0 45px;font-size: 2.5em}

.containerT .wrapper{width: 100%;height: 400px;background:#f4f4f8;margin-top: 20px;}
.containerT .wrapper h1{text-align: center;text-shadow:10px 10px 10px gray;padding-top: 20px;padding-bottom: 80px;}
.containerT>.wrapper>.image{text-align: center;}
.containerT>.wrapper .learn{margin: 0 auto;width: 1200px;}
.containerT>.wrapper .learn>ul>li{float: left;text-align: center;width: 400px;padding-left: 30px;padding-top: 30px;}
.containerT>.wrapper .learn>ul>li:hover{font-weight: bold}

.containerThr .wrapperThr{width: 100%;height: 350px;_background:#777}
	.wrapperThr h2{text-align: center;color:#0e70ed;padding-top: 15px;padding-bottom: 70px;}
	.imgbox{margin: 0 auto;width: 1200px;}
	.imgbox>ul>li{float: left;width: 25%;margin-right: 300px;padding-left: 50px;}
	.imgbox>ul>li:last-child{margin-right: 0;}
	.imgbox>ul>li:nth-child(1){width: 50px;height: 50px;_background:blue}
	.imgbox>ul>li:nth-child(1)>i{font-size: 5em;transition: .5s}
	.imgbox>ul>li:nth-child(1)>i:hover{color:aqua}
	.imgbox>ul>li:nth-child(2){width: 50px;height: 50px;_background:lime}
	.imgbox>ul>li:nth-child(2)>i{font-size: 5em;transition: .5s}
	.imgbox>ul>li:nth-child(2)>i:hover{color:aqua}
	.imgbox>ul>li:nth-child(3){width: 50px;height: 50px;_background:lime}
	.imgbox>ul>li:nth-child(3)>i{font-size: 5em;transition: .5s}
	.imgbox>ul>li:nth-child(3)>i:hover{color:aqua}
	.imgbox>ul>li:nth-child(4){width: 50px;height: 50px;_background:lime}
	.imgbox>ul>li:nth-child(4)>i{font-size: 5em;transition: .5s}
	.imgbox>ul>li:nth-child(4)>i:hover{color:aqua}
	.txtbox{margin: 0 auto;width: 1400px;}
	.txtbox>ul>li{float: left;width: 25%;padding-top: 60px;text-align: center;}
.lastSec{width: 100%;}
.lastSec .img{width: 100%;height: 730px;}
.lastSec img{width: 100%;height: 100%;}
/*footer*/
footer{width: 100%;height: 230px;background:#38394d}
footer .footer{width: 1200px;margin: 0 auto;}