@charset "utf-8";

.bx-wrapper{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow: none;
	border: 0 none;
	margin-bottom: 0;
}
.bx-wrapper .bx-pager{
	bottom: 10px;
}

.overlay{width: 300px;height: 450px;background-color:rgba(135,94,0,.5);
		position:absolute;transition: .1s;color: white;right: -250px;top: 0;}
.overlay2{width: 300px;height: 225px;background-color:rgba(0,0,0,.5);
		position:absolute;transition: .1s;color: white;bottom:-180px;right: 0;}


/*header*/
header#header{height: 160px;}
#header .headertop{height: 50px;background: #0044af;}
.headertop .menu{width: 1200px;height: 50px;/*background: gray;*/margin: 0 auto}
.menu .clearfix{width: 390px;height: 50px;background: white;}
.menu li{float: left;width: 130px;height: 50px;background: #00163b;border-right: 2px solid #0044af;}
.menu li>a{color: white;text-align: center;height: 50px;line-height: 50px;display: block;font-weight: bold}
.menu li>a:hover{background: #fff;color:#0044af;font-weight: bold;font-size: 1.2em}

#header .headerbt{/*background: gray;*/height: 110px;}
.headerbt .menu2{width: 1200px;height: 110px;background: white;margin: 0 auto;position: relative;}
.headerbt img.img{position: absolute;top: 50%;top: 26px}
.headerbt .menuinner{/*background: gray;*/position: absolute;right: 140px;top: 27.5px}
.headerbt .clearfix1{width: 600px;height: 50px;line-height: 55px;}
.headerbt .menuinner li{float: left;width: 110px;text-align: center;}
.headerbt .menuinner li>a{display: block;font-size:1.1em;color: #474747;font-weight:bolder;}
.headerbt .menuinner li>a:hover{font-size: 1.2em}
.headerbt .menuinner li:last-child{width: 150px;}

/*선생님작업*/
header#header_wrap .utilMenuWrap{background: #0044af;}
.utilMenu{width: 1200px;margin: 0 auto; _background: #fff;}
.utilMenu ul.left{float: left;}
.utilMenu ul.left li{float: left;width: 120px;margin-right: 2px;}
.utilMenu ul.left li a{display: block;line-height: 40px;text-align: center;background: #00163b;color:white;
					font-weight: bold}
.utilMenu ul.left li a.active{background: #fff;color: #333}

.utilMenu ul.right{float: right;}
.utilMenu ul.right li{float: left;color: white;font-size: 0.8em;}
.utilMenu ul.right li a{display: block;color: white;padding: 0 10px;line-height: 40px;}
.utilMenu ul.right li.btn_mp a{float: left;background: #fff;line-height: 20px; margin-right: 2px;color: #333;
					width: 20px;padding: 0;text-align: center;margin-top: 10px;font-weight: bold;text-indent: -1px}
.utilMenu ul.right li:first-child{line-height: 40px;padding-right: 10px;}
.utilMenu ul.right li:last-child a{padding-right: 0;}

.mainGnb{width: 1200px;margin: 0 auto;padding: 30px 0;position: relative;/*background: gray;*/}
.mainGnb h1{width: 260px;height: 53px;background: /*aqua*/ url(../images/logo.png);background-repeat:no-repeat;}
.mainGnb h1 a{display: block;line-height: 53px;text-indent: -9999px}
.mainGnb .navWrap{width: 760px;position: absolute;right: 0;top: 33px;}
.mainGnb .navWrap ul.nav{float: left;}
.mainGnb .navWrap ul.nav li{float: left}
.mainGnb .navWrap ul.nav li a{display: block;color: #464646;font-size: 1.2em;width: 130px;line-height: 45px;
					font-weight: bold}

.mainGnb .navWrap .btnTG{float: right;}
.mainGnb .navWrap .btnTG a{display: block;width: 45px;height: 45px;background-image: url(../images/toggle_btn.gif);
							background-repeat:no-repeat; 
							text-indent:-9999px;float: left;}
.mainGnb .navWrap .btnTG .toggle{background-position: 0 0;}
.mainGnb .navWrap .btnTG .my{background-position: -45px 0;}
/*선생님작업*/

/*contents*/
#contents{height: 1300px;background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
		  background-repeat:repeat,no-repeat; background-position: -120px -200px;
		  background-size:auto,125% 120%;}
#contents .title{width: 1200px;height: 260px;margin: auto;position: relative;}
.title .txt{width: 690px;/*background: red;*/padding: 90px 0 0 0;}
.title p.txt1{color: white;font-size: 2.6em;font-weight: normal;}
.title p.txt2{font-size: 3.5em;font-weight: bold;color: white}
.title img.icon{position: absolute;right: 0;top: 100px;}
#contents .container{width: 1200px;margin: auto;}
#contents .container>ul>li{float: left;width: 25%;height: 225px;}

#contents .container>ul>li:nth-child(1){width: 75%;height: 450px;
/*						background-image: url(../images/bg_02.jpg);*/
						/*background-repeat: no-repeat;*/
						/*background-position: 60% 53%;*/
					}
/*#contents .container li:first-child .txt01{width: 450px;height: 300px;font-size: 3.6em;
						text-align: left;padding: 70px 0 0 150px;color: #1453ba;margin-bottom: 20px;}
.container li:first-child .txt01 .bold{font-weight: bold;}
.container li:first-child a{font-size: 1.2em;width: 170px;height: 40px;background: #192c4d;display: block;
					line-height: 40px;margin-left: 150px;text-align: center;color: white;font-weight: bold}*/
#contents .container .visual{height: 450px;}
/*#contents .container .visual .view{position: relative;}*/
#contents .container .visual .slider img.img{}
#contents .container .visual .visualtxt{position: absolute;top:80px;left:80px;}
#contents .container .visual .visualtxt .txt01{width: 450px;font-size: 3.6em;
						text-align: left;color: #1453ba;margin-bottom: 30px;}
#contents .container .visual .visualtxt .txt01 .bold{font-weight: bold;}
#contents .container .visual .visualtxt a{font-size: 1.2em;width: 170px;height: 40px;background: #192c4d;display: block;
					line-height: 40px;text-align: center;color: white;font-weight: bold}


#contents .container>ul>li:nth-child(2){background: #00f;height: 450px;
						background-image: url(../images/bg_03.jpg);
						background-repeat: no-repeat;
						background-size: 150% 100%;
						background-position: 80% 0;
						position: relative;overflow: hidden;
					}
.container .overlay .txt{padding: 70px 0 0 50px;color: white;}
.container .overlay p.one{font-size: 2em}
.container .overlay p.one .app{font-weight: bold;}
.container>ul>li:nth-child(2):hover .overlay{right: 0;}
.container .overlay a.thr{display: block;background: gray;opacity:0.5;width: 130px;height: 50px;text-align: center;
					color: white;line-height: 50px;}
.container .overlay a.thr:hover{color: white;background:#512800;opacity: 1;font-weight: bold}


#contents .container>ul>li:nth-child(3){background: #00163b}
#contents .container>ul>li:nth-child(3) .txt{height: 55px;padding: 20px 0 0 30px;}
#contents .container>ul>li:nth-child(3) h3{color: white; font-weight: bold;font-size: 1.6em}

#contents .container>ul>li:nth-child(4){background: #1651b7;background-image: url(../images/logo4.png);}
.container .wrap .hd{/*background:white;*/width: 180px;padding: 20px 0 30px 25px;font-weight: bold;color: white}
.container .wrap .line{width: 250px;height: 2px;background: #fff;margin: 0 auto;margin-bottom: 20px;}
.container .wrapTwo{font-size: 13px;width: 250px;margin: 0 auto;color: white;}
.container .wrapTwo .left{_background: red;float: left;}
.container .wrapTwo .left li{padding: 0 0 10px 0;}
.container .wrapTwo .right{_background: blue;float: right;}
.container .wrapTwo .right li{padding: 0 0 10px 0}

#contents .container>ul>li:nth-child(5){background: #fff;}
.container>ul>li:nth-child(5) .hd{height: 55px;/*background: aqua;*/padding: 20px 0 0 30px;}
.container>ul>li:nth-child(5) .hd .sns{color:#041936;font-size: 1.8em}
.container>ul>li:nth-child(5) .Wrap .wrap{width: 330px;height: 100px;padding: 20px 0 0 20px;}
.container>ul>li:nth-child(5) .wrap .img{float: left;}
.container>ul>li:nth-child(5) .txt{width: 180px;height: 80px;font-size: 13px;line-height: 20px;color: #999}
.container>ul>li:nth-child(5) .txt{float: right;}
.container>ul>li:nth-child(5) .snsimg{padding: 20px 0 0 150px;}

#contents .container>ul>li:nth-child(6){background: #7b5;background-image: url(../images/sch_02.jpg);
						background-repeat: no-repeat;
						background-position: -130px -50px;
						position: relative;overflow:hidden;}
.container .overlay2 .txt{color: white; text-align: center;position: relative;}
.container .overlay2 p.one{font-size: 2em;}
.container>ul>li:nth-child(6):hover .overlay2{bottom: 0;}
.container .overlay2 .txt a.thr{display: block;background: gray;opacity:0.5;width: 130px;height: 50px;text-align: center;
					color: white;line-height: 50px;position: absolute;left:80px;}
.container .overlay2 .txt a.thr:hover{color: white;background:#999;opacity: 1;font-weight: bold}				


#contents .container>ul>li:nth-child(7){background: #2f3;background-image: url(../images/sch_03.png);position: relative;}
#contents .container>ul>li:nth-child(7) a{display: block;width: 50px;height: 50px;_background: red;position: absolute;
				right: 50%;top:50%;margin-right: -25px;margin-top: -15px;text-indent: -9999px}


#contents .container>ul>li:nth-child(8){background: pink;width: 75%;margin-bottom: 20px;}
#contents .container .visual .visualtxt02{position: absolute;top:40px;left:50px;}
#contents .container .visual .visualtxt02 .txt02{width: 450px;
						text-align: left;color: #fc5140;margin-bottom: 30px;}
#contents .container .visual .visualtxt02 .txt02 .note{font-size: 1.2em}
#contents .container .visual .visualtxt02 .txt02 .date{font-size: 2.5em;font-weight: bold}
#contents .container .visual .visualtxt02 .btnB{font-size: 1.2em;width: 170px;height: 40px;background: #fc5140;display: block;
					line-height: 40px;text-align: center;color: white;font-weight: bold}

#contents .lastCell{width: 1200px;height: 60px;background: #fff;margin: 0 auto}
.lastCell .bx1{_background:pink;width: 300px;height: 60px;border-right: 1px solid #000;position: relative;}
.lastCell .bx2{_background:skyblue;width: 860px;height: 60px;color: #999;font-size: 12px}
.lastCell ul>li{float: left;}
.lastCell .bx1 .wrap{position: absolute;right: 50px;top: 15px}
.lastCell .txt01{_background: #999;color: #06183c;font-size: 1.2em;font-weight: bold;margin-right: 20px;}
.lastCell .txt02{_background: red;color: #444;font-size: 1.2em}

.lastCell .bx2{position: relative;}
.lastCell .bx2 .wrapT{position: absolute;padding: 20px 10px;}
.lastCell .bx2 .wrapT .txtbx02{padding: 0 0 0 10px;}
.lastCell .bx2 .wrapT .txt03{width: 210px;margin-right: 20px;}
.lastCell .bx2 .wrapT .txt04{width: 500px;}

.lastCell .bx3{width: 40px;background: #01143e;height: 60px;}
.lastCell .bx3 .line{width: 40px;height: 1px;background:white;margin-top: 30px;}

/*footer*/
footer#footer{height: 200px;}
#footer .Wrap{width: 1200px;margin: 0 auto}
#footer .Wrap .WrapTwo{width: 1200px;margin-top: 20px;}
#footer ul>li{float: left;}
#footer ul>li{width: 160px;border-right: .5px solid #000;padding: 0 0 0 10px; text-align: center;}
#footer ul>li:nth-child(6){border: none}
#footer .Wrap .txt{margin-top: 20px;}
#footer .Wrap .txt01{margin-top: 20px;}