@charset "utf-8";

.bx-wrapper{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow: none;
	border: 0 none;
}
.bx-wrapper .bx-pager{
	bottom: 10px;
}

body{/*font-family: 'Source Sans Pro', sans-serif;*/
	 font-family: 'Piedra', cursive;}



/*header*/
.Header{width: 100%;height: 65px;/*background-color: skyblue;*/margin-top: 30px;margin-bottom: 20px;}
.TOPmenu{width: 1220px;/*background-color: white;*/margin: 0 auto;position: relative;}
.TOPmenu>h1{width: 150px;/*background-color: pink;*/line-height: 65px;
	font-size: 3em;text-align: center;}
.logoR{width: 600px;/*background-color: magenta;*/line-height: 65px;font-weight: bold}
.logoRR{width: 300px;/*background-color: red;*/line-height: 65px;font-weight: bold}
.logoR>ul:after{content: "";display: block;clear: both;}
.logoR>ul>li{float: left;width: 150px;}
.logoR>ul>li>a:hover{background: #999;display: block;font-weight: bold;color: white}
.logoRR>ul:after{content: "";display: block;clear: both;}
.logoRR>ul>li{float:left;width: 150px;}
.logoRR>ul>li>a:hover{background: #999;display: block;font-weight: bold;color: white}
nav.LOGO{position: absolute;right: 0;top: 0;text-align: center;}
nav.logoR, nav.logoRR{float: left;}
nav.logoR{margin-right: 30px;}

/*bxSlider*//*-jquery.bxslider.css 7째라인 마진값없앴음*/
.visual{}
.visual .view{position: relative;width: 1220px;height: 600px;margin:0 auto;}
.visual .slider>li{overflow: hidden;}
.visual .slider img.img{position: absolute; left: 20%;}
.visual .visualtxt{position: absolute;top: 150px;width: 500px;}
.visual .visualtxt h3{font-size: 2.5em;margin-bottom: 20px;}
.visual .visualtxt p{margin-bottom: 30px;}
.visual .visualtxt a{display: block;width: 200px;height: 60px;background: #2c2c96;color: white;border-radius: 40px;
			text-align: center;line-height: 60px;}

/*SaveM*/
/*.SaveM{height: 280px;width: 100%;background-color: #f8f9ff;}
.SaveM .txt{margin: 0 auto;_background-color: pink;width: 700px;height: 150px;text-align: center;padding-top: 70px;}
.SaveM .txt h1{font-size: 2.5em;margin-bottom: 40px;}*/


/*선생님 작업*/
.bgColorOne{background-color: #f8f9ff;}
.conOne,.conTwo{width: 1220px;margin: 0 auto;padding: 70px 0;text-align: center;}
.conOne h2{font-size: 1.5em;margin-bottom: 15px;}
.fontColorOne{color: #2c2c96}

/*box*/
/*.box{height: 740px;background: #fff;}
.box1{height: 550px;background: #fff;margin-top: 190px;position: relative;}
.box1 .txt{width: 500px;background: #fff;position: absolute;right: 50%;margin-right: 100px;top: 25%}
.box1 .txt>h3{font-size: 1.7em;margin-bottom: 30px;}
.box1 .txt>p{margin-bottom: 40px;}
.box1 .txt>a{display: block;width: 200px;height: 60px;background: #2c2c96;color: white;border-radius: 40px;text-align: center;line-height: 60px;}

.BXW{position: absolute;left: 55%;top:100px;}
.bxWrap{width: 350px;height: 350px; background: #fff;position: relative;text-align: center;}
.bx1, .bx2, .bx3, .bx4{width: 165px;height: 165px;position: absolute;padding:100px 0 0 0;border: 2px solid #f8f9ff;
				   box-shadow: 1px 1px 5px #F6F6F6}
.bx1{background-color: white;}
.bx2{background-color: #f8f9ff;right:0}
.bx3{background-color: white;left: 0;bottom: 0;}
.bx4{background-color: white;right: 0;bottom: 0;}*/

/*선생님 작업*/
.conTwo{padding: 230px 0;}
.conTwo .txtBox{float: left;/*background: orange;*/width: 410px;height: 510px;padding-top: 120px}
.conTwo .txtBox h2{font-size: 1.5em;margin-bottom: 15px;text-align: left;}/*conTwo에 tac적용되어있어서 tal*/
.conTwo .txtBox p{margin-bottom: 15px;text-align: left;}
.conTwo .txtBox a{display: block;width: 200px;line-height: 50px;border-radius: 25px; background: #2c2c96;
			color: white;text-align: center;}

.conTwo .iconbox{float: right;/*background: blue;*/width: 460px;height: 510px;margin-right: 100px;}
.conTwo .iconbox li{float: left;width: 210px;height: 230px;/*background: #eee;*/margin-bottom: 40px;text-align: center;
					padding-top: 50px;transition: 0.3s;cursor: pointer;}
.conTwo .iconbox li:hover{box-shadow:0 0 20px #ddd}
.conTwo .iconbox li:nth-child(1),
.conTwo .iconbox li:nth-child(3){margin-right: 40px;}
.conTwo .iconbox li img{margin-bottom: 15px;}
.conTwo .shadow:hover{box-shadow: 0 0 15px blue}


/*forthpage*/
.forthpage{height: 790px;background: #f8f9ff;}
.forthinner{width: 1220px;height: 790px;background: #f8f9ff;margin: 0 auto;position: relative;}
.forthinner img.forthpng{position: absolute;right: 0;top: 50px;}
.forthinner .txt{background: skyblue;position: absolute;}
.forthinner .txt{width: 500px;background: #f8f9ff;position: absolute;right: 50%;margin-right: 100px;top: 25%}
.forthinner .txt>h3{font-size: 1.7em;margin-bottom: 30px;}
.forthinner .txt>p{margin-bottom: 40px;}
.forthinner .txt>a{display: block;width: 200px;height: 60px;background: #2c2c96;color: white;border-radius: 40px;text-align: center;line-height: 60px;}

/*fifth page*/
.fifthpage{height: 400px;width: 100%;}
.fifthinner{width: 1220px;height: 400px;/*background: yellow;*/margin: 0 auto;position: relative;}
.fifthinner .txt{/*background: red;*/width: 1220px;position: absolute;left: 50%;margin-left: -610px;top: 120px;font-size: 2.7em;text-align: center;font-weight: bold;}
.fifthinner .shape1{width: 200px;height: 60px;background: red;position: absolute;top: 60%;right: 50%;background: #2c2c96;border-radius: 40px}		
.fifthinner .shape2{width: 200px;height: 60px;background: red;position: absolute;top: 60%;left: 50%;background: #f8f9ff;border-radius: 40px}
.fifthinner .shape1 p{text-align: center;font-weight: bold;color: white;line-height: 60px}
.fifthinner .shape2 p{text-align: center;font-weight: bold;color: black;line-height: 60px}

/*sixth page*/
.sixthpage{height: 400px;width: 100%;/*background: skyblue;*/}
.sixthinner{width: 1220px;height: 400px;/*background: gray;*/margin: 0 auto;position: relative;}
.sixthinner .txt{width: 600px;font-size: 2.7em;font-weight: bold;position: absolute;/*background: #ff0;*/left: 320px;top:120px}
.sixthinner .txt2{text-align: center;/*background: #ff0;*/width: 600px;position: absolute;left: 300px;bottom: 100px}

/*seventh page*/
.svnthpage{width: 100%;height: 750px;/*background: pink;*/}
.svnthinner{width: 1220px;height: 750px;/*background: skyblue;*/margin: 0 auto;padding: 50px 0 0 0;}
.svnthinner .bo1{height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px;}
.svnthinner .bo1 a{line-height: 130px;padding: 0 0 0 100px;font-size: 1.5em;font-weight: bold;}
.svnthinner .bo1:hover{box-shadow: 1px 1px 5px gray;height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px}
.svnthinner .bo1 img.point{margin-left: 800px;}
.svnthinner .bo2{height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px;}
.svnthinner .bo2 a{line-height: 130px;padding: 0 0 0 100px;font-size: 1.5em;font-weight: bold;}
.svnthinner .bo2:hover{box-shadow: 1px 1px 5px gray;height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px}
.svnthinner .bo2 img.point{margin-left: 650px;}
.svnthinner .bo3{height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px;}
.svnthinner .bo3 a{line-height: 130px;padding: 0 0 0 100px;font-size: 1.5em;font-weight: bold;}
.svnthinner .bo3:hover{box-shadow: 1px 1px 5px gray;height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px}
.svnthinner .bo3 img.point{margin-left: 650px;}
.svnthinner .bo4{height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px;}
.svnthinner .bo4 a{line-height: 130px;padding: 0 0 0 100px;font-size: 1.5em;font-weight: bold;}
.svnthinner .bo4:hover{box-shadow: 1px 1px 5px gray;height: 130px;width: 1220px;/*background: #ff0*/;margin: 0 auto;border-radius: 60px;border: 2px solid #f8f9ff;margin-bottom: 50px}
.svnthinner .bo4 img.point{margin-left: 550px;}


/*eighth page*/
.eighthpage{width: 100%;height: 740px;background: #fff;}
.eighthinner{width: 1220px;height: 740px;background: #fff;margin: 0 auto;position: relative;}
.eighthinner .txt{width: 400px;position: absolute;top: 50%;/*background: #ff0;*/height: 300px;margin-top: -150px}
.eighthinner .txt h3{font-size: 1.7em;margin-bottom: 30px;}
.eighthinner .txt p{margin-bottom: 40px;}	
.eighthinner .txt a{width: 200px;height: 60px;background: #2c2c96;color: white;border-radius: 40px;display: block;text-align: center;line-height: 60px;}
.eighthinner img.img{position: absolute;right:-10%;top: -20px}

/*footer*/
.footer{height: 480px;background: #f8f9ff;}
.footerinner{width: 1220px;height: 480px;margin: 0 auto;position: relative;}
.footerinner .chavy h3{font-size: 3em;margin-bottom: 20px; padding: 150px 0 0 0;}
.chavy p{margin-bottom: 50px;}
.footerinner .about{width: 100px;height: 200px;position: absolute;right: 400px;top: 200px;}
.footerinner .about h4{margin-bottom: 30px;font-size: 1.2em}
.footerinner .about p{line-height: 30px;}
.footerinner .product{width: 100px;height: 200px;position: absolute;right: 200px;top: 200px;}
.footerinner .product h4{margin-bottom: 30px;font-size: 1.2em}
.footerinner .product p{line-height: 30px;}
.footerinner .company{width: 100px;height: 200px;position: absolute;right: 0;top: 200px;}
.footerinner .company h4{margin-bottom: 30px;font-size: 1.2em}
.footerinner .company p{line-height: 30px;}
.footer .line{height: 1px;background: #c4c4c7;margin-bottom: 30px;}
.footer .copyright{position: absolute;bottom: 40px;}
.footer .terms{position: absolute;bottom: 40px;right: 200px;}
.footer .privacy{position: absolute;bottom: 40px;right: 0}